---
---

body {
  font-family: "Segoe UI", sans-serif;
}

h1, h2, h3 {
  color: #2c3e50;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HIDE FOOTER GITHUB PAGES THEME */
.site-footer {
  display: none;
}

/* HIDE MINIMAL THEME FOOTER */
.site-footer,
footer,
footer small,
footer p {
  display: none !important;
}
