<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>

<body>

<div class="wrapper">

  <!-- SIDEBAR CUSTOM (FULL CONTROL) -->
  <header>

    {% if site.logo %}
    <img src="{{ site.logo | relative_url }}" class="profile-img">
    {% endif %}

    <h1>{{ site.title }}</h1>

    <p class="sidebar-desc">
      Information Systems Student<br>
      Data Analyst | System Designer | BI Enthusiast
    </p>

    <nav class="sidebar-menu">
      <a class="badge" href="/">Home</a>
      <a class="badge" href="/portfolio">Portfolio</a>
      <a class="badge" href="/cv">CV</a>
      <a class="badge" href="/articles">Articles</a>
    </nav>

  </header>

  <!-- CONTENT -->
  <section>
    {{ content }}
  </section>

</div>

</body>
</html>
